@mixin colors {
    --color-FFE7E6: #FFE7E6;
    --color-FF7757: #FF7757;
    --color-2C1E30: #2C1E30;
    --color-FFF2E2: #FFF2E2;
    --color-CC895C: #CC895C;
    --color-E4F8F0: #E4F8F0;
    --color-1EA97C: #1EA97C;    
    --color-black: #000000;   
}

